<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dgu.lelab.bid.bidinfo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebviewActivity"
            android:theme="@style/Simple" />
        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Simple" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SimpleBlack" />
        <activity
            android:name=".MypageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".DetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SimpleBlack" />
        <activity
            android:name=".PickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SimpleBlack" />
        <activity
            android:name=".PrivateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SimpleBlack"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SimpleBlack" />
        <activity
            android:name=".ApplyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SimpleBlack" />
        <activity
            android:name=".ExpireActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginFormActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NoticeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SimpleBlack" />
        <activity
            android:name=".CompanyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SimpleBlack" />
        <activity
            android:name=".CompanyPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SimpleBlack" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".AgreeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SimpleBlack" />
        <activity
            android:name=".LikeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SimpleBlack" />
        <activity
            android:name=".AttendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SimpleBlack" />
        <activity
            android:name=".CommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SimpleBlack" />
        <activity android:name=".PopupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            ></activity>
    </application>

</manifest>